* {
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

main {
    min-height: calc(100vh - 3.5rem - 8rem);
    margin-top: 3.5rem;
}

.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #2ddf5c;
    padding: 8px 16px;
    z-index: 1;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__home {
    color: rgba(0, 0, 0, 0.699);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

.main-nav {
    display: inline-block;
    text-align: right;
    width: calc(100% - 122px);
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
    color: aliceblue;
    border-bottom: 5px solid white;
}

.main-nav__item--cta .dropbtn{
  color: white;
  background: #ff1b68;
  padding: 0.3rem 0.8rem;
  border-radius: 10px;
  font: inherit;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active{
  color: #ff1b68;
  background: white;
  border: none;
}

.images{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.main-footer {
    background: black;
    padding: 1.5rem;
    margin-top: 2rem;
}

.footer-heart {
    text-align: center;
    font-family: open sans, sans-serif;
    color: whitesmoke;
}

.footer-heart a {
    border-bottom: 1px solid #453886;
    color: #453886;
    padding-bottom: .25em;
    text-decoration: none;
}

.footer-heart a:hover {
    color: #2196f3;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: 20%;
    border-bottom: 0;
    padding-bottom: .3em;
    text-decoration: none;
}

.emoji {
    vertical-align: middle;
}